{% extends "dashboard.html" %}
{% block title %}Router{% endblock %}
{% block devicesymbol %}<img src="{{ url_for('static', filename='images/router.png') }}" width="200px" height="180px" title="{{hoverData}}">{% endblock %}
{% block savebutton %}
<a href="routerSave">
    <i class='bx bxs-save'></i>
    <span class="links_name">Save</span>
  </a>
{% endblock %}
{% block logoutbutton %}
<a href="routerLogout">
    <i class='bx bx-log-out'></i>
    <span class="links_name">Log out</span>
  </a>
{% endblock %}
{% block displaylist %}
<p>Configuration Display
    <ul>
    <li><a href="routerRunConf" target="_blank">Running Configuration</a></li>
    <li><a href="routerStartConf" target="_blank">Stratup Configuration</a></li>
    </ul>
</p>
<p>Interfaces Display
    <ul>
    <li><a href="routerIpIntBr" target="_blank">IP Interfaces</a></li>
    <li><a href="routerIpIntInfo" target="_blank">IP Interface Information</a></li>
    <li><a href="routerIpIntDesc" target="_blank">IP Interface Description</a></li>
    <li><a href="routerIpIntStats" target="_blank">IP Interface Stats</a></li>
    </ul>
</p>
<p>IP Protocols Display
    <ul>
    <li><a href="routerIpProto" target="_blank">IP Protocols</a></li>
    </ul>
</p>

<p>IP Routes Display
    <ul>
    <li><a href="routerIpRoute" target="_blank">IP Routes</a></li>
    </ul>
</p>

<p>LLDP Display
    <ul>
    <li><a href="routerLldpInfo" target="_blank">LLDP Information</a></li>
    <li><a href="routerLldpTraffic" target="_blank">LLDP Traffic</a></li>
    <li><a href="routerLldpInterface" target="_blank">LLDP Interface</a></li>
    <li><a href="routerLldpNeighbours" target="_blank">LLDP Neighbours</a></li>
    <li><a href="routerLldpNeighboursDetail" target="_blank">LLDP Neighbours Detail</a></li>
    </ul>
</p>

<p>NTP Display
    <ul>
    <li><a href="routerNtpClockDetail" target="_blank">Router Clock Detail</a></li>
    <li><a href="routerNtpCalendar" target="_blank">Router Calendar</a></li>
    <li><a href="routerNtpStatus" target="_blank">NTP Status</a></li>
    <li><a href="routerNtpAssociations" target="_blank">NTP Associations</a></li>
    </ul>
</p>

<p>Tech Support
    <ul>
    <li><a href="routerDisplayBuffers" target="_blank">Display Buffers</a></li>
    <li><a href="routerDisplayStacks" target="_blank">Display Stacks</a></li>
    <li><a href="routerDisplayMemoryPros" target="_blank">Display Memory Processes</a></li>
    <li><a href="routerDisplayCpuPros" target="_blank">Display CPU Processes</a></li>
    <li><a href="routerDisplayFileSys" target="_blank">Display File Systems</a></li>
    <li><a href="routerDisplayOsVer" target="_blank">Display OS Version</a></li>
    <li><a href="routerDisplayFlashMemory" target="_blank">Display Flash Memory</a></li>
    </ul>
</p>
<p>DNS settings siaplay
    <ul>
    <li><a href="routerDisplayDnsHosts" target="_blank">Display DNS hosts</a></li>
    </ul>
</p>

<p>DHCP settings display
    <ul>
    <li><a href="routerDisplayIpDhcpBinding" target="_blank">Display DHCP ip bindings</a></li>
    </ul>
</p>
<p>Syslog
    <ul>
    <li><a href="routerDisplaySyslog" target="_blank">Syslog</a></li>
    </ul>
</p>


{% endblock %}
{% block configurelist %}
{% endblock %}
{% block whitespace %}
<div class="configure-forms" id="ip-route-config">
    <form id="router-static-route-conf" action="/routerStaticRouteConf" method="post">
        <fieldset>
          <legend>
            Static
          </legend>
          <div>
            <label for="dest_ip">
              Destination IP address :
              <input type="text" name="dest_ip">
            </label>
          </div>
          <div>
            <label for="subnet_mask">
              Subnet Mask :
              <input type="text" name="subnet_mask" >
            </label>
          </div>
          <div>
            <label for="next_hop">
              Next Hop IP :
              <input type="text" name="next_hop">
            </label>
          </div>
          <div>
            <input type="submit" value="Add Route">
          </div>
        </fieldset>
      </form>
      
      <form>
        <fieldset>
          <legend>
            RIP
          </legend>
          <lebel for="auto_summary">
            Enable Auto Summerization:
            <input type="radio" name='auto_summary' value='yes'>
            Yes
            <input type="radio" name="auto_summary" value="no">
            No
          </lebel>
          <div>
            <label for="rip_interface">
              Network Address for RIP Interface:
            </label>
            <input type="text" name="network_add" id="rip_interface">
          </div>
          <input type="submit" value="Add Route">
        </fieldset>
      </form>
      
      <form action="">
        <fieldset>
          <legend>
            EIGRP
          </legend>
          <div>
            <label for="as_number">
              EIGRP Autonomous System Number:
              <input type="text" id="as_number">
            </label>
          </div>
          <div>
            <label for="auto_summary">
              Enable Auto Summerization:
              <input type="radio" value="yes">
              Yes
              <input type="radio" value="no">
              No
            </label>
          </div>
          <div>
            <label for="network_add">
              Network Address for EIGRP:
              <input type="text" id="network_add">
            </label>
          </div>
          <div>
            <label for="wildcard_mask">
              Wildcard mask for EIGRP:
              <input type="text" id="wildcard_mask">
            </label>
          </div>
          <div>
            <input type="submit" value="Add Route">
          </div>
        </fieldset>
      </form>
      
      <form action="">
        <div>
          <fieldset>
            <legend>
              OSPF
            </legend>
            <div>
              <label for="process_id">
                OSPF Process ID:
                <input type="text" id="process_id">
              </label>
            </div>
            <div>
              <label for="network_add"></label>
              Network Address:
              <input type="text" id="network_add">
            </div>
            <div>
              <label for="wildcard_mask"></label>
              Wildcard Mask:
              <input type="text" id="wildcard_mask">
            </div>
            <div>
              <label for="ospf_area">
                OSPF Area:
                <input type="text" id="ospf_area">
              </label>
            </div>
            <div><input type="submit" value="Add Route"></div>
          </fieldset>
          <fieldset>
            <div>
              <label for="ospf_int">
                OSPF Interface:
                <input type="text" id="ospf_int">
              </label>
            </div>
            <div>
              <label for="process_id">
                OSPF Process ID:
                <input type="text" id="process_id">
              </label>
            </div>
            <div>
              <label for="ospf_area"></label>
              OSPF Area:
              <input type="text" id="ospf_area">
            </div>
            <div><input type="submit" value="Add Route"></div>
          </fieldset>
        </div>
      </form>
</div>

{% endblock %}
{% block additionaljs %}
<script type="text/javascript" src="{{ url_for('static', filename='javascript/router_op.js') }}"> </script>
{% endblock %}