{% extends "dashboard.html" %}
{% block title %}Router{% endblock %}
{% block devicesymbol %}<img src="{{ url_for('static', filename='images/router.png') }}" width="200px" height="180px" title="{{hoverData}}">{% endblock %}
{% block savebutton %}
<a href="routerSave">
    <i class='bx bxs-save'></i>
    <span class="links_name">Save</span>
  </a>
{% endblock %}
{% block logoutbutton %}
<a href="routerLogout">
    <i class='bx bx-log-out'></i>
    <span class="links_name">Log out</span>
  </a>
{% endblock %}
{% block displaylist %}
<p>Configuration Display
    <ul>
    <li><a href="routerRunConf" target="_blank">Running Configuration</a></li>
    <li><a href="routerStartConf" target="_blank">Startup Configuration</a></li>
    </ul>
</p>
<p>Interfaces Display
    <ul>
    <li><a href="routerIpIntBr" target="_blank">IP Interfaces</a></li>
    <li><a href="routerIpIntInfo" target="_blank">IP Interface Information</a></li>
    <li><a href="routerIpIntDesc" target="_blank">IP Interface Description</a></li>
    <li><a href="routerIpIntStats" target="_blank">IP Interface Stats</a></li>
    </ul>
</p>
<p>IP Protocols Display
    <ul>
    <li><a href="routerIpProto" target="_blank">IP Protocols</a></li>
    </ul>
</p>

<p>IP Routes Display
    <ul>
    <li><a href="routerIpRoute" target="_blank">IP Routes</a></li>
    </ul>
</p>

<p>LLDP Display
    <ul>
    <li><a href="routerLldpInfo" target="_blank">LLDP Information</a></li>
    <li><a href="routerLldpTraffic" target="_blank">LLDP Traffic</a></li>
    <li><a href="routerLldpInterface" target="_blank">LLDP Interface</a></li>
    <li><a href="routerLldpNeighbours" target="_blank">LLDP Neighbours</a></li>
    <li><a href="routerLldpNeighboursDetail" target="_blank">LLDP Neighbours Detail</a></li>
    </ul>
</p>

<p>NTP Display
    <ul>
    <li><a href="routerNtpClockDetail" target="_blank">Router Clock Detail</a></li>
    <li><a href="routerNtpCalendar" target="_blank">Router Calendar</a></li>
    <li><a href="routerNtpStatus" target="_blank">NTP Status</a></li>
    <li><a href="routerNtpAssociations" target="_blank">NTP Associations</a></li>
    </ul>
</p>

<p>Tech Support
    <ul>
    <li><a href="routerDisplayBuffers" target="_blank">Display Buffers</a></li>
    <li><a href="routerDisplayStacks" target="_blank">Display Stacks</a></li>
    <li><a href="routerDisplayMemoryPros" target="_blank">Display Memory Processes</a></li>
    <li><a href="routerDisplayCpuPros" target="_blank">Display CPU Processes</a></li>
    <li><a href="routerDisplayFileSys" target="_blank">Display File Systems</a></li>
    <li><a href="routerDisplayOsVer" target="_blank">Display OS Version</a></li>
    <li><a href="routerDisplayFlashMemory" target="_blank">Display Flash Memory</a></li>
    </ul>
</p>
<p>DNS settings siaplay
    <ul>
    <li><a href="routerDisplayDnsHosts" target="_blank">Display DNS hosts</a></li>
    </ul>
</p>

<p>DHCP settings display
    <ul>
    <li><a href="routerDisplayIpDhcpBinding" target="_blank">Display DHCP ip bindings</a></li>
    </ul>
</p>
<p>Syslog
    <ul>
    <li><a href="routerDisplaySyslog" target="_blank">Syslog</a></li>
    </ul>
</p>


{% endblock %}
{% block configurelist %}
<button onclick="javascript:invisible(ipRouteConfig)">Configure IP routes</button>
<button onclick="javascript:invisible(routerInterfaceConfig)">Configure Device Interfaces</button>
<button onclick="javascript:invisible(routerLldpConfig)">Configure Router LLDP</button>
<button onclick="javascript:invisible(routerDnsConfig)">Configure DNS</button>
{% endblock %}
{% block whitespace %}
<div class="configure-forms" id="ipRouteConfig" style="display: none;">
    <form id="router-static-route-conf" action="/routerStaticRouteConf" method="post">
        <fieldset>
          <legend>
            Static
          </legend>
          <div>
            <label for="dest_ip">
              Destination IP address :
              <input type="text" name="dest_ip">
            </label>
          </div>
          <div>
            <label for="subnet_mask">
              Subnet Mask :
              <input type="text" name="subnet_mask" >
            </label>
          </div>
          <div>
            <label for="next_hop">
              Next Hop IP :
              <input type="text" name="next_hop">
            </label>
          </div>
          <div>
            <input type="submit" value="Add Route">
          </div>
        </fieldset>
      </form>
      
      <form id="router-rip-route-conf" action="/routerRipRouteConf" method="post">
        <fieldset>
          <legend>
            RIP
          </legend>
          <div>
            <label for="auto_summary">
              Enable Auto Summerization:
              <input type="radio" name="auto_summary" value="yes">
              Yes
              <input type="radio" name="auto_summary" value="no">
              No
            </label>
          </div>
          
          <div>
            <label for="rip_interface">
              Network Address for RIP Interface:
            </label>
            <input type="text" name="network_add" id="rip_interface">
          </div>
          <div>
            <input type="submit" value="Add Route">
          </div>
          
        </fieldset>
      </form>
      
      <form id="router-eigrp-route-conf" action="/routerEigrpRouteConf" method="post">
        <fieldset>
          <legend>
            EIGRP
          </legend>
          <div>
            <label for="as_number">
              EIGRP Autonomous System Number:
              <input type="text" name="as_number">
            </label>
          </div>
          <div>
            <label for="auto_summary">
              Enable Auto Summerization:
              <input type="radio" name="auto_summary" value="yes">
              Yes
              <input type="radio" name="auto_summary" value="no">
              No
            </label>
          </div>
          <div>
            <label for="network_add">
              Network Address for EIGRP:
              <input type="text" name="network_add">
            </label>
          </div>
          <div>
            <label for="wildcard_mask">
              Wildcard mask for EIGRP:
              <input type="text" name="wildcard_mask">
            </label>
          </div>
          <div>
            <input type="submit" value="Add Route">
          </div>
        </fieldset>
      </form>
      
      <form id="router-ospf-network-route-conf" action="/routerOspfNetworkRouteConf" method="post">
        <div>
          <fieldset>
            <legend>
              OSPF
            </legend>
            <div>
              <label for="process_id">
                OSPF Process ID:
                <input type="text" name="process_id">
              </label>
            </div>
            <div>
              <label for="network_add"></label>
              Network Address:
              <input type="text" name="network_add">
            </div>
            <div>
              <label for="wildcard_mask"></label>
              Wildcard Mask:
              <input type="text" name="wildcard_mask">
            </div>
            <div>
              <label for="ospf_area">
                OSPF Area:
                <input type="text" name="ospf_area">
              </label>
            </div>
            <div><input type="submit" value="Add Route"></div>
          </fieldset>
        </form>
        <form id="router-ospf-int-route-conf" action="/routerOspfIntRouteConf" method="post">
          <fieldset>
            <div>
              <label for="ospf_int">
                OSPF Interface:
                <input type="text" name="ospf_int">
              </label>
            </div>
            <div>
              <label for="process_id">
                OSPF Process ID:
                <input type="text" name="process_id">
              </label>
            </div>
            <div>
              <label for="ospf_area"></label>
              OSPF Area:
              <input type="text" name="ospf_area">
            </div>
            <div><input type="submit" value="Add Route"></div>
          </fieldset>
        </div>
      </form>
</div>
<div class="configure-forms" id="routerInterfaceConfig" style="display: none;">
  <form id="configure-ip-layer-3" action="/routerConfIntLayerThree" method="post">
    <fieldset>
      <legend>Configure Interface Layer 3</legend>
      <div>
        <label for="int_name">Enter Interface: </label>
        <select name="int_name">
          <option value="" disabled selected hidden>Please choose Interface</option>
          {% for interface in deviceInterfaces %}
              <option value="{{ interface }}">{{ interface }}</option>
          {% endfor %}
        </select>
      </div>
      <div>
        <label for="int_ip">IP Address: </label>
        <input type="text" name="int_ip">
      </div>
      <div>
        <label for="int_sub_mask">Subnet Mask: </label>
        <input type="text" name="int_sub_mask">
      </div>
  
      <div>
        <label for="int_description">Enter description: </label>
        <br>
        <textarea name="int_description" cols="30" rows="10"></textarea>
      </div>
      <div><input type="submit" value="Configure"></div>
    </fieldset>
  </form>
</div>

<div class="configure-forms" id="routerLldpConfig" style="display: none;">
  <form id="router-lldp-global-enable" action="/routerLldpGlobalEnable" method="post">
      <fieldset>
        <legend>LLDP Gloabal Enable</legend>
        <div>
          <label>Enable LLDP Globally: </label>
          <input type="submit" value="Enable">
        </div>
      </fieldset>
    </form>
    
    <form id="router-lldp-int-enable" action="/routerLldpIntEnable" method="post">
      <fieldset>
        <legend>Enable LLDP Interface</legend>
        <div>
          <label for="lldp_interface">Enter Interface You Want to Enable LLDP On: </label>
          <select name="lldp_interface">
            <option value="" disabled selected hidden>Please choose Interface</option>
            {% for interface in deviceInterfaces %}
                <option value="{{ interface }}">{{ interface }}</option>
            {% endfor %}
          </select>
        </div>
        <div>
          <input type="submit" value="Enable">
        </div>
      </fieldset>
    </form>
    
    <form id="router-lldp-timer-config" action="/routerLldpTimerConfig" method="post">
      <fieldset>
        <legend>Timer Config</legend>
        <div>
          <label for="timer_time">Enter LLDP Timer: </label>
          <input type="text" name="timer_time" placeholder="in seconds">
        </div>
        <div>
          <input type="submit" value="Configure">
        </div>
      </fieldset>
    </form>
    
    <form id="router-lldp-holdtime-config" action="/routerLldpHoldtimeConfig" method="post">
      <fieldset>
        <legend>
          Holdtime Config
        </legend>
        <div>
          <label for="holdtime_time">Enter LLDP Holdtime: </label>
          <input type="text" name="holdtime_time" placeholder="in seconds">
        </div>
        <div>
          <input type="submit" value="Configure">
        </div>
      </fieldset>
    </form>
    
    <form id="router-lldp-reinit-config" action="/routerLldpReinitConfig" method="post">
      <fieldset>
        <legend>
          LLDP Re-Interface Time
        </legend>
        <div>
          <label for="reinit_time">Enter LLDP timer: </label>
          <input type="text" name="reinit_time" placeholder="in seconds">
        </div>
        <div>
          <input type="submit" value="Configure">
        </div>
      </fieldset>
    </form>
</div>
<div class="configure-forms" id="routerDnsConfig" style="display: none;">
  <form id="router-as-dns-server" action="routerAsDnsServerConfig" method="post">
  <fieldset>
    <legend>DNS Configuration</legend>
    <div>
      <label for="dns_server">Configure Router as DNS server:</label>
      <br>
    </div>
    <div>
      <input type="submit" value="Configure" id="dns_server">
    </div>
  </fieldset>
</form>

<form id="add-ip-jost-dns" action="addIpHostDnsConfig" method="post">
  <fieldset>
    <legend>
      Add IP Host for DNS Hostname/IP mapping
    </legend>
    <div>
      <label for="dns_hostname">Enter Hostname: </label>
      <input type="text" id="dns_hostname" name="dns_hostname">
    </div>
    <div>
      <label for="dns_ip">Enter IP: </label>
      <input type="text" id="dns_ip" name="dns_ip">
    </div>
    <div>
      <input type="submit" value="Add">
    </div>
  </fieldset>
</form>

<form id="external-dns-server" action="externalDnsServerConfig" method="post">
  <fieldset>
    <legend>Configure External IP Name Server</legend>
    <p>In case Router does not have a IP mapped to the hostname</p>
    <div>
      <label for="dns_server_ip">Enter DNS Server IP: </label>
      <input type="text" id="dns_server_ip" name="dns_server_ip">
    </div>
    <div>
      <input type="submit" value="Add">
    </div>
  </fieldset>
</form>

<form id="domain-lookup-dns" action="domainLookupDnsConfig" method="post">
  <fieldset>
    <legend>Enable Router to perform DNS queries</legend>
    <div>
      <label for="domain_lookup">Perform Domain Lookup</label>
    </div>
    <div>
      <input type="submit" value="Perform" id="domain_lookup">
    </div>
  </fieldset>
</form>

<form id="set-domain-name" action="setDomainNameConfig" method="post">
  <fieldset>
    <legend>Set Domain Name</legend>
    <div>
      <label for="domain_name">Enter Domain Name: </label>
      <input type="text" id="domain_name" name="domain_name">
    </div>
    <div>
      <input type="submit" value="Set">
    </div>
  </fieldset>
</form>
</div>


{% endblock %}
{% block additionaljs %}
<script type="text/javascript" src="{{ url_for('static', filename='javascript/router_op.js') }}"> </script>
{% endblock %}