{% extends "dashboard.html" %}
{% block title %}Switch{% endblock %}
{% block devicesymbol %}<img src="{{ url_for('static', filename='images/switch.png') }}" width="200px" height="180px" title="{{hoverData}}">{% endblock %}
{% block savebutton %}
<a href="switchSave">
    <i class='bx bxs-save'></i>
    <span class="links_name">Save</span>
  </a>
{% endblock %}
{% block logoutbutton %}
<a href="switchLogout">
    <i class='bx bx-log-out'></i>
    <span class="links_name">Log out</span>
  </a>
{% endblock %}
{% block displaylist %}
<p>MAC address Display
  <ul>
  <li><a href="switchMacAddressTable" target="_blank">MAC address Table</a></li>
  </ul>
</p>
<p>ARP Display
    <ul>
    <li><a href="switchArpTable" target="_blank">ARP Table</a></li>
    </ul>
</p>
<p>Configuration Display
    <ul>
    <li><a href="switchRunConf" target="_blank">Running Configuration</a></li>
    <li><a href="switchStartConf" target="_blank">Startup Configuration</a></li>
    </ul>
</p>
<p>Interfaces Display
    <ul>
    <li><a href="switchIpIntBr" target="_blank">IP Interfaces</a></li>
    <li><a href="switchIpIntInfo" target="_blank">IP Interface Information</a></li>
    <li><a href="switchIpIntDesc" target="_blank">IP Interface Description</a></li>
    <li><a href="switchIpIntStats" target="_blank">IP Interface Stats</a></li>
    </ul>
</p>
<p>Tech Support
    <ul>
    <li><a href="switchDisplayBuffers" target="_blank">Display Buffers</a></li>
    <li><a href="switchDisplayStacks" target="_blank">Display Stacks</a></li>
    <li><a href="switchDisplayMemoryPros" target="_blank">Display Memory Processes</a></li>
    <li><a href="switchDisplayCpuPros" target="_blank">Display CPU Processes</a></li>
    <li><a href="switchDisplayFileSys" target="_blank">Display File Systems</a></li>
    <li><a href="switchDisplayOsVer" target="_blank">Display OS Version</a></li>
    <li><a href="switchDisplayFlashMemory" target="_blank">Display Flash Memory</a></li>
    </ul>
</p>
<p>VLAN Display
    <ul>
    <li><a href="switchDisplayVlanInterfaces" target="_blank">VLAN Associated interfaces</a></li>
    <li><a href="switchDisplayVlanTrunkInterfaces" target="_blank">Trunk Interfaces</a></li>
    </ul>
</p>
<p>Etherchannel Display
    <ul>
    <li><a href="switchDisplayEtherchannelLoadbalance" target="_blank">Etherchannel Loadbalance</a></li>
    <li><a href="switchDisplayEtherchannelSummary" target="_blank">Etherchannel Summary</a></li>
    <li><a href="switchDisplayEtherchannelPortchannel" target="_blank">Etherchannel Portchannel</a></li>
    </ul>
</p>
<p>LLDP Display
    <ul>
    <li><a href="switchLldpInfo" target="_blank">LLDP Information</a></li>
    <li><a href="switchLldpTraffic" target="_blank">LLDP Traffic</a></li>
    <li><a href="switchLldpInterface" target="_blank">LLDP Interface</a></li>
    <li><a href="switchLldpNeighbours" target="_blank">LLDP Neighbours</a></li>
    <li><a href="switchLldpNeighboursDetail" target="_blank">LLDP Neighbours Detail</a></li>
    </ul>
</p>
<p>NTP Display
    <ul>
    <li><a href="switchNtpClockDetail" target="_blank">Switch Clock Detail</a></li>
    <li><a href="switchNtpCalendar" target="_blank">Switch Calendar</a></li>
    <li><a href="switchNtpStatus" target="_blank">NTP Status</a></li>
    <li><a href="switchNtpAssociations" target="_blank">NTP Associations</a></li>
    </ul>
</p>
<p>Syslog
    <ul>
    <li><a href="switchDisplaySyslog" target="_blank">Syslog</a></li>
    </ul>
</p>
{% endblock %}
{% block configurelist %}
<button onclick="javascript:invisible(switchMacConfig)">Configure MAC address table</button>
<button onclick="javascript:invisible(switchIntConfigLayerTwo)">Configure switch interface</button>
<button onclick="javascript:invisible(switchLldpConfig)">Configure switch LLDP</button>
<button onclick="javascript:invisible(switchVlanConfig)">Configure switch VLAN</button>
<button onclick="javascript:invisible(switchEtherChannelConfig)">Configure switch EtherChannel</button>
{% endblock %}
{% block whitespace %}
<div class="configure-forms" id="switchMacConfig" style="display: none;">
    <form id="clear-mac-add-table" action="/clearMacAddressTable" method="post">
        <fieldset>
          <legend>Clear Mac Address Table</legend>
          <div>
            <label>Clear Mac Address table: </label>
            <input type="submit" value="Clear">
          </div>
        </fieldset>
      </form>
      
      <form id="clear-specific-mac-add" action="/clearSpecificMacAddress" method="post">
        <fieldset>
          <legend>Clear Specific Mac Address</legend>
          <div>
            <label for="mac_input">Enter Mac Address To Be Removed: </label>
            <input type="text" name="mac_input">
          </div>
          <div>
            <input type="submit" value="Clear">
          </div>
        </fieldset>
      </form>
      
      <form id="clear-mac-int" action="/clearMacInterface" method="post">
        <fieldset>
          <legend>Clear Mac Interface</legend>
          <div>
            <label for="interface_input">Enter the interface:</label>
            <input type="text" id="interface_input">
            <select name="interface_input">
              <option value="" disabled selected hidden>Please choose Interface</option>
              {% for interface in deviceInterfaces %}
                  <option value="{{ interface }}">{{ interface }}</option>
              {% endfor %}
            </select>
          </div>
          <div>
            <input type="submit" value="Clear">
          </div>
        </fieldset>
      </form>
</div>

<div>
  <form class="configure-forms" id="/switchIntConfigLayerTwo" style="display: none;">
    <fieldset>
      <legend>Configure Interface at Layer 2</legend>
      <div>
        <label for="int_name">Enter Interface name: </label>
        <select name="int_name">
          <option value="" disabled selected hidden>Please choose Interface</option>
          {% for interface in deviceInterfaces %}
              <option value="{{ interface }}">{{ interface }}</option>
          {% endfor %}
        </select>
      </div>
      <div>
        <label for="int_speed">Enter Speed of Interface: </label>
        <input type="number" name="int_speed" placeholder="in mbps" min=0>
      </div>
      <div>
        <label for="int_duplex">Enter Duplex Mode: </label>

        <select name="int_duplex">
          <option value="" disabled selected hidden>Please choose Duplex</option>
              <option value="auto">auto</option>
              <option value="full">full</option>
              <option value="half">half</option>
        </select>
      </div>
      <div>
        <label for="int_description">Enter Interface Description: </label>
        <textarea name="int_description" id="int_description" cols="30" rows="5" placeholder="Description"></textarea>
      </div>
      <div><input type="submit" value="Configure Interface"></div>
    </fieldset>
  </form>
</div>

<div class="configure-forms" id="switchVlanConfig" style="display: none;">
  <form id="cleate-vlan" action="/swithCreateVlan" method="post">
    <fieldset>
      <legend>
        Create VLAN
      </legend>
      <div>
        <label for="vlanNumber">Enter Vlan Number: </label>
        <input type="text" id="vlanNumber" name="vlan_number">
      </div>
  
      <div>
        <label for="vlanName">Enter Vlan Name: </label>
        <input type="text" id="vlanName" name="vlan_name">
      </div>
  
      <div>
        <input type="submit" value="Create">
      </div>
    </fieldset>
  </form>
  
  <form id="create-trunk" action="/switchCreateTrunkInterface" method="post">
    <fieldset>
      <legend>
        Create Trunk Interface
      </legend>
      <div>
        <label for="trunkInterface">Enter Interface to be Trunked: </label>
        <select name="bef_int">
          <option value="" disabled selected hidden>Please choose Interface</option>
          {% for interface in deviceInterfaces %}
              <option value="{{ interface }}">{{ interface }}</option>
          {% endfor %}
        </select>
      </div>
      <div>
        <input type="submit" value="Create">
      </div>
    </fieldset>
  </form>
</div>

<div class="configure-forms" id="switchEtherChannelConfig" style="display: none;">
  <form id="ether-channel-loadbalance" action="/switchEtherChannelLoadBalanceConfig" method="post">
    <fieldset>
      <legend>Ether-Channel LoadBalance Config</legend>
      <div>
        <label for="lbtype">Enter Load Balancing Config: </label>
        <select name="month">
          <option value="dst-ip">Dst IP Addr</option>
          <option value="dst-mac">Dst MAC Addr</option>
          <option value="src-dst-ip">Src XOR Dst IP Addr</option>
          <option value="src-dst-mac">Src XOR Dst MAC Addr</option>
          <option value="src-ip">Src IP Addr</option>
          <option value="src-mac">Src MAC Addr</option>
        </select>
      </div>
      <div>
        <input type="submit" value="Configure">
      </div>
    </fieldset>
  </form>
  
  <form id="ether-channel-lacp" action="/switchEtherChannelLacpConfig" method="post">
    <fieldset>
      <legend>Ether-Channel LACP Range Config</legend>
      <div>
        <label for="interface_range">Enter Interface Range: </label>
        <input type="text" id="interface_range" name="interface_range">
      </div>
      <div>
        <label for="interface_range">Enter Channel Group Number: </label>
        <input type="number" id="channel_group" name="channel_group" min="1" max="255">
      </div>
      <div>
        <label for="LACP_mode">Enter LACP mode: </label>
        <select name="LACP_mode">
          <option value="active">Active</option>
          <option value="passive">Passive</option>
        </select>
      </div>
      <div>
        <input type="submit" value="Configure">
      </div>
    </fieldset>
  </form>

</div>

<div class="configure-forms" id="switchLldpConfig" style="display: none;">
    <form id="switch-lldp-global-enable" action="/switchLldpGlobalEnable" method="post">
        <fieldset>
          <legend>LLDP Gloabal Enable</legend>
          <div>
            <label>Enable LLDP Globally: </label>
            <input type="submit" value="Enable">
          </div>
        </fieldset>
      </form>
      
      <form id="switch-lldp-int-enable" action="switchLldpIntEnable" method="post">
        <fieldset>
          <legend>Enable LLDP Interface</legend>
          <div>
            <label for="lldp_interface">Enter Interface You Want to Enable LLDP On: </label>
            <select name="lldp_interface">
              <option value="" disabled selected hidden>Please choose Interface</option>
              {% for interface in deviceInterfaces %}
                  <option value="{{ interface }}">{{ interface }}</option>
              {% endfor %}
            </select>
          </div>
          <div>
            <input type="submit" value="Enable">
          </div>
        </fieldset>
      </form>
      
      <form id="switch-lldp-timer-config" action="switchLldpTimerConfig" method="post">
        <fieldset>
          <legend>Timer Config</legend>
          <div>
            <label for="timer_time">Enter LLDP Timer: </label>
            <input type="text" name="timer_time" placeholder="in seconds">
          </div>
          <div>
            <input type="submit" value="Configure">
          </div>
        </fieldset>
      </form>
      
      <form action="switch-lldp-holdtime-config" action="switchLldpHoldtimeConfig" method="post">
        <fieldset>
          <legend>
            Holdtime Config
          </legend>
          <div>
            <label for="holdtime_time">Enter LLDP Holdtime: </label>
            <input type="text" name="holdtime_time" placeholder="in seconds">
          </div>
          <div>
            <input type="submit" value="Configure">
          </div>
        </fieldset>
      </form>
      
      <form action="switch-lldp-reinit-config" action="switchLldpReinitConfig" method="post">
        <fieldset>
          <legend>
            LLDP Re-Interface Time
          </legend>
          <div>
            <label for="reinit_time">Enter LLDP timer: </label>
            <input type="text" name="reinit_time" placeholder="in seconds">
          </div>
          <div>
            <input type="submit" value="Configure">
          </div>
        </fieldset>
      </form>
  </div>

{% endblock %}
{% block additionaljs %}
<script type="text/javascript" src="{{ url_for('static', filename='javascript/switch_op.js') }}"> </script>
{% endblock %}