{% extends "dashboard.html" %}
{% block title %}Switch{% endblock %}
{% block devicesymbol %}<img src="{{ url_for('static', filename='images/switch.png') }}" width="200px" height="180px" title="{{hoverData}}">{% endblock %}
{% block savebutton %}
<a href="switchSave">
    <i class='bx bxs-save'></i>
    <span class="links_name">Save</span>
  </a>
{% endblock %}
{% block logoutbutton %}
<a href="switchLogout">
    <i class='bx bx-log-out'></i>
    <span class="links_name">Log out</span>
  </a>
{% endblock %}
{% block displaylist %}
<p>MAC address Display
  <ul>
  <li><a href="switchMacAddressTable" target="_blank">MAC address Table</a></li>
  </ul>
</p>
<p>ARP Display
    <ul>
    <li><a href="switchArpTable" target="_blank">ARP Table</a></li>
    </ul>
</p>
<p>Configuration Display
    <ul>
    <li><a href="switchRunConf" target="_blank">Running Configuration</a></li>
    <li><a href="switchStartConf" target="_blank">Startup Configuration</a></li>
    </ul>
</p>
<p>Interfaces Display
    <ul>
    <li><a href="switchIpIntBr" target="_blank">IP Interfaces</a></li>
    <li><a href="switchIpIntInfo" target="_blank">IP Interface Information</a></li>
    <li><a href="switchIpIntDesc" target="_blank">IP Interface Description</a></li>
    <li><a href="switchIpIntStats" target="_blank">IP Interface Stats</a></li>
    </ul>
</p>
<p>Tech Support
    <ul>
    <li><a href="switchDisplayBuffers" target="_blank">Display Buffers</a></li>
    <li><a href="switchDisplayStacks" target="_blank">Display Stacks</a></li>
    <li><a href="switchDisplayMemoryPros" target="_blank">Display Memory Processes</a></li>
    <li><a href="switchDisplayCpuPros" target="_blank">Display CPU Processes</a></li>
    <li><a href="switchDisplayFileSys" target="_blank">Display File Systems</a></li>
    <li><a href="switchDisplayOsVer" target="_blank">Display OS Version</a></li>
    <li><a href="switchDisplayFlashMemory" target="_blank">Display Flash Memory</a></li>
    </ul>
</p>
<p>VLAN Display
    <ul>
    <li><a href="switchDisplayVlanInterfaces" target="_blank">VLAN Associated interfaces</a></li>
    <li><a href="switchDisplayVlanTrunkInterfaces" target="_blank">Trunk Interfaces</a></li>
    </ul>
</p>
<p>Etherchannel Display
    <ul>
    <li><a href="switchDisplayEtherchannelLoadbalance" target="_blank">Etherchannel Loadbalance</a></li>
    <li><a href="switchDisplayEtherchannelSummary" target="_blank">Etherchannel Summary</a></li>
    <li><a href="switchDisplayEtherchannelPortchannel" target="_blank">Etherchannel Portchannel</a></li>
    </ul>
</p>
<p>LLDP Display
    <ul>
    <li><a href="switchLldpInfo" target="_blank">LLDP Information</a></li>
    <li><a href="switchLldpTraffic" target="_blank">LLDP Traffic</a></li>
    <li><a href="switchLldpInterface" target="_blank">LLDP Interface</a></li>
    <li><a href="switchLldpNeighbours" target="_blank">LLDP Neighbours</a></li>
    <li><a href="switchLldpNeighboursDetail" target="_blank">LLDP Neighbours Detail</a></li>
    </ul>
</p>
<p>NTP Display
    <ul>
    <li><a href="switchNtpClockDetail" target="_blank">Switch Clock Detail</a></li>
    <li><a href="switchNtpCalendar" target="_blank">Switch Calendar</a></li>
    <li><a href="switchNtpStatus" target="_blank">NTP Status</a></li>
    <li><a href="switchNtpAssociations" target="_blank">NTP Associations</a></li>
    </ul>
</p>
<p>Syslog
    <ul>
    <li><a href="switchDisplaySyslog" target="_blank">Syslog</a></li>
    </ul>
</p>
{% endblock %}
{% block configurelist %}
<button onclick="javascript:invisible(switchMacConfig)">Configure MAC address table</button>
<button onclick="javascript:invisible(switchIntConfig)">Configure switch interface</button>
<button onclick="javascript:invisible(switchLldpConfig)">Configure switch LLDP</button>
<button onclick="javascript:invisible(switchVlanConfig)">Configure switch VLAN</button>
<button onclick="javascript:invisible(switchEtherChannelConfig)">Configure switch EtherChannel</button>
<button onclick="javascript:invisible(switchNtpConfig)">Configure switch NTP</button>
{% endblock %}
{% block whitespace %}
<div class="configure-forms" id="switchMacConfig" style="display: none;">
    <form id="clear-mac-add-table" action="/clearMacAddressTable" method="post">
        <fieldset>
          <legend>Clear Mac Address Table</legend>
          <div>
            <label>Clear Mac Address table: </label>
            <input type="submit" value="Clear">
          </div>
        </fieldset>
      </form>
      
      <form id="clear-specific-mac-add" action="/clearSpecificMacAddress" method="post">
        <fieldset>
          <legend>Clear Specific Mac Address</legend>
          <div>
            <label for="mac_input">Enter Mac Address To Be Removed: </label>
            <input type="text" name="mac_input">
          </div>
          <div>
            <input type="submit" value="Clear">
          </div>
        </fieldset>
      </form>
      
      <form id="clear-mac-int" action="/clearMacInterface" method="post">
        <fieldset>
          <legend>Clear Mac Interface</legend>
          <div>
            <label for="interface_input">Enter the interface:</label>
            <input type="text" id="interface_input">
            <select name="interface_input">
              <option value="" disabled selected hidden>Please choose Interface</option>
              {% for interface in deviceInterfaces %}
                  <option value="{{ interface }}">{{ interface }}</option>
              {% endfor %}
            </select>
          </div>
          <div>
            <input type="submit" value="Clear">
          </div>
        </fieldset>
      </form>
</div>

<div class="configure-forms" id="switchIntConfig" style="display: none;">
  <form id="layer-two-config" action="/switchIntConfigLayerTwo" method="post">
    <fieldset>
      <legend>Configure Interface at Layer 2</legend>
      <div>
        <label for="int_name">Enter Interface name: </label>
        <select name="int_name">
          <option value="" disabled selected hidden>Please choose Interface</option>
          {% for interface in deviceInterfaces %}
              <option value="{{ interface }}">{{ interface }}</option>
          {% endfor %}
        </select>
      </div>
      <div>
        <label for="int_speed">Enter Speed of Interface: </label>
        <input type="number" name="int_speed" placeholder="in mbps" min=0>
      </div>
      <div>
        <label for="int_duplex">Enter Duplex Mode: </label>

        <select name="int_duplex">
          <option value="" disabled selected hidden>Please choose Duplex</option>
              <option value="auto">auto</option>
              <option value="full">full</option>
              <option value="half">half</option>
        </select>
      </div>
      <div>
        <label for="int_description">Enter Interface Description: </label>
        <textarea name="int_description" id="int_description" cols="30" rows="5" placeholder="Description"></textarea>
      </div>
      <div><input type="submit" value="Configure Interface"></div>
    </fieldset>
  </form>

  <form id="add-loopback-interface" action="/switchAddLoopbackInterface" method="post">
    <fieldset>
      <legend>Add Loopback Interface</legend>
        <div>
          <label for="loopback-int">Enter Loopback Interface Number</label>
          <input type="number" name="loopb_number" min="0" max="2147483647">
        </div>
        <div><input type="submit" value="Add Interface"></div>
      
    </fieldset>

  </form>
</div>

<div class="configure-forms" id="switchVlanConfig" style="display: none;">
  <form id="cleate-vlan" action="/swithCreateVlan" method="post">
    <fieldset>
      <legend>
        Create VLAN
      </legend>
      <div>
        <label for="vlanNumber">Enter Vlan Number: </label>
        <input type="text" id="vlanNumber" name="vlan_number">
      </div>
  
      <div>
        <label for="vlanName">Enter Vlan Name: </label>
        <input type="text" id="vlanName" name="vlan_name">
      </div>
  
      <div>
        <input type="submit" value="Create">
      </div>
    </fieldset>
  </form>

  <form id="vlan-interface" action="/switchVlanInterfaceConfig" method="post">
    <fieldset>
      <legend>Add Interfaces to VLAN</legend>
      <div>
        <label for="vlanNo">Enter VLAN Number: </label>
        <input type="text" id="vlanNo" name="vlan_number">
      </div>
      <div>
        <label for="interfaceRange">Enter Interface Range: </label>
        <input type="text" id="vlanInterfaces" name="int_range">
      </div>  
      <div>
        <input type="submit" value="Add Interfaces">
      </div>
    </fieldset>
  </form>
  
  <form id="create-trunk" action="/switchCreateTrunkInterface" method="post">
    <fieldset>
      <legend>
        Create Trunk Interface
      </legend>
      <div>
        <label for="trunkInterface">Enter Interface to be Trunked: </label>
        <select name="bef_int">
          <option value="" disabled selected hidden>Please choose Interface</option>
          {% for interface in deviceInterfaces %}
              <option value="{{ interface }}">{{ interface }}</option>
          {% endfor %}
        </select>
      </div>
      <div>
        <input type="submit" value="Create">
      </div>
    </fieldset>
  </form>

  <form id="allowed-vlan" action="/switchInterfaceAllowedVlanConfig" method="post">
    <fieldset>
      <legend>Allowed VLAN on trunk interface</legend>
      <div>
        <label for="TrunkInt">Enter Trunk interface: </label>
        <input type="text" id="trunk_int" name="trunk_int">
      </div>
      <div>
        <label for="Allowed">Enter Allowed Vlan number or specification: </label>
        <input type="text" id="allowed_vlan" name="allowed_vlan">
      </div>  
      <div><input type="submit" value="Add"></div>
    </fieldset>
  </form>

  <form id="native-vlan" action="/switchInterfaceNativeVlanConfig" method="post">
    <fieldset>
      <legend>Native VLAN on trunk interface</legend>
      <div>
        <label for="TrunkInt">Enter Trunk interface: </label>
        <input type="text" id="trunk_int" name="trunk_int">
      </div>
      <div>
        <label for="Native">Enter Native Vlan number: </label>
        <input type="text" id="native_vlan" name="native_vlan">
      </div>  
      <div><input type="submit" value="Add"></div>
    </fieldset>
  </form>

</div>

<div class="configure-forms" id="switchEtherChannelConfig" style="display: none;">
  <form id="ether-channel-loadbalance" action="/switchEtherChannelLoadBalanceConfig" method="post">
    <fieldset>
      <legend>Ether-Channel LoadBalance Config</legend>
      <div>
        <label for="lbtype">Enter Load Balancing Config: </label>
        <select name="lbtype">
          <option value="dst-ip">Dst IP Addr</option>
          <option value="dst-mac">Dst MAC Addr</option>
          <option value="src-dst-ip">Src XOR Dst IP Addr</option>
          <option value="src-dst-mac">Src XOR Dst MAC Addr</option>
          <option value="src-ip">Src IP Addr</option>
          <option value="src-mac">Src MAC Addr</option>
        </select>
      </div>
      <div>
        <input type="submit" value="Configure">
      </div>
    </fieldset>
  </form>
  
  <form id="ether-channel-lacp" action="/switchEtherChannelLacpConfig" method="post">
    <fieldset>
      <legend>Ether-Channel LACP Range Config</legend>
      <div>
        <label for="interface_range">Enter Interface Range: </label>
        <input type="text" id="interface_range" name="interface_range">
      </div>
      <div>
        <label for="interface_range">Enter Channel Group Number: </label>
        <input type="number" id="channel_group" name="channel_group" min="1" max="255">
      </div>
      <div>
        <label for="LACP_mode">Enter LACP mode: </label>
        <select name="LACP_mode">
          <option value="active">Active</option>
          <option value="passive">Passive</option>
        </select>
      </div>
      <div>
        <input type="submit" value="Configure">
      </div>
    </fieldset>
  </form>
</div>

<div class="configure-forms" id="switchLldpConfig" style="display: none;">
    <form id="switch-lldp-global-enable" action="/switchLldpGlobalEnable" method="post">
        <fieldset>
          <legend>LLDP Gloabal Enable</legend>
          <div>
            <label>Enable LLDP Globally: </label>
            <input type="submit" value="Enable">
          </div>
        </fieldset>
      </form>
      
      <form id="switch-lldp-int-enable" action="switchLldpIntEnable" method="post">
        <fieldset>
          <legend>Enable LLDP Interface</legend>
          <div>
            <label for="lldp_interface">Enter Interface You Want to Enable LLDP On: </label>
            <select name="lldp_interface">
              <option value="" disabled selected hidden>Please choose Interface</option>
              {% for interface in deviceInterfaces %}
                  <option value="{{ interface }}">{{ interface }}</option>
              {% endfor %}
            </select>
          </div>
          <div>
            <input type="submit" value="Enable">
          </div>
        </fieldset>
      </form>
      
      <form id="switch-lldp-timer-config" action="switchLldpTimerConfig" method="post">
        <fieldset>
          <legend>Timer Config</legend>
          <div>
            <label for="timer_time">Enter LLDP Timer: </label>
            <input type="text" name="timer_time" placeholder="in seconds">
          </div>
          <div>
            <input type="submit" value="Configure">
          </div>
        </fieldset>
      </form>
      
      <form action="switch-lldp-holdtime-config" action="switchLldpHoldtimeConfig" method="post">
        <fieldset>
          <legend>
            Holdtime Config
          </legend>
          <div>
            <label for="holdtime_time">Enter LLDP Holdtime: </label>
            <input type="text" name="holdtime_time" placeholder="in seconds">
          </div>
          <div>
            <input type="submit" value="Configure">
          </div>
        </fieldset>
      </form>
      
      <form action="switch-lldp-reinit-config" action="switchLldpReinitConfig" method="post">
        <fieldset>
          <legend>
            LLDP Re-Interface Time
          </legend>
          <div>
            <label for="reinit_time">Enter LLDP timer: </label>
            <input type="text" name="reinit_time" placeholder="in seconds">
          </div>
          <div>
            <input type="submit" value="Configure">
          </div>
        </fieldset>
      </form>
  </div>

  <div class="configure-forms" id="switchNtpConfig" style="display: none;">
    <form id="set-clock" action="/switchSetClockConfig" method="post">
      <fieldset>
        <legend>Set Clock</legend>
        <div>
          <label for="time">Enter Time: </label>
          <input type="number" class="time" name="hour" min=1 max=23> :
          <input type="number" class="time" name="minute" min=1 max=59> :
          <input type="number" class="time" name="second" min=1 max=59>
        </div>
        <div>
          <label for="day">Day of the month: </label>
          <input type="number" name="day" min=1 max=31>
        </div>
        <div>
          <label for="month">Enter Month: </label>
          <select name="month">
            <option value="Jan">Jan</option>
            <option value="Feb">Feb</option>
            <option value="Mar">Mar</option>
            <option value="Apr">Apr</option>
            <option value="May">May</option>
            <option value="Jun">Jun</option>
            <option value="Jul">Jul</option>
            <option value="Aug">Aug</option>
            <option value="Sep">Sep</option>
            <option value="Oct">Oct</option>
            <option value="Nov">Nov</option>
            <option value="Dec">Dec</option>
          </select>
        </div>
        <div>
          <label for="year">Enter Year: </label>
          <input type="number" name="year" min=1500>
        </div>
        <div><input type="submit" value="Set Clock"></div>
          <!--       this button is for function, sync_clock_to_calendar -->
        
      </fieldset>
    </form>
  
  
    <form id="set-calendar" action="/switchSetCalendarConfig" method="post">
      <fieldset>
        <legend>Set Calendar</legend>
        <div>
          <label for="cal_time">Time: </label>
          <input type="number" class="cal_time" name="cal_hour" min=1 max=23> :
          <input type="number" class="cal_time" name="cal_minute" min=1 max=59> :
          <input type="number" class="cal_time" name="cal_second" min=1 max=59>
        </div>
        <div>
          <label for="cal_day">Day of the month: </label>
          <input type="number" name="cal_day" min=1 max=31>
        </div>
        <div>
          <label for="cal_month">Enter Month: </label>
          <select name="cal_month">
            <option value="Jan">Jan</option>
            <option value="Feb">Feb</option>
            <option value="Mar">Mar</option>
            <option value="Apr">Apr</option>
            <option value="May">May</option>
            <option value="Jun">Jun</option>
            <option value="Jul">Jul</option>
            <option value="Aug">Aug</option>
            <option value="Sep">Sep</option>
            <option value="Oct">Oct</option>
            <option value="Nov">Nov</option>
            <option value="Dec">Dec</option>
          </select>
        </div>
        <div>
          <label for="cal_year">Enter Year: </label>
          <input type="number" name="cal_year" min=1500>
        </div>
        <div><input type="submit" value="Set Calendar"></div>
          <!--       this button is for sync_calendar_to_clock function -->
      </fieldset>
    </form>
    
  <form id="read-calendar" action="/switchReadCalendarConfig" method="post">
    <fieldset>
      <legend>Sync Clock to Calendar</legend>
      <div>
        <label for="read_calendar">Sync the clock to the calendar's time</label>
      </div>
      <div>
        <input type="submit" value="Set" id="read_calendar">
      </div>
    </fieldset>
  </form>
  
  <form id="update-calendar" action="/switchUpdateCalendarConfig" method="post">
    <fieldset>
      <legend>Sync Calendar to Clock</legend>
      <div>
        <label for="update_calendar">Sync the calendar to the clock's time</label>
      </div>
      <div>
        <input type="submit" value="Set" id="update_calendar">
      </div>
    </fieldset>
  </form>
  
    <form id="set-clock-timezone" action="/switchTimezoneConfig" method="post">
      <fieldset>
        <legend>Set Clock Timezone Offset</legend>
        <div>
          <label for="timezone">Enter Timezone: </label>
          <input type="text" name="timezone">
        </div>
        <div>
          <label for="hours">Enter Hrs offset from UTC: </label>
          <input type="number" name="hours"  min=-23 max=23>
        </div>
        <div>
          <label for="minutes">Enter minutes offset from UTC: </label>
          <input type="number" name="minutes" min=1 max=59>
        </div>
        <div><input type="submit" value="Configure Timezone Offset"></div>
      </fieldset>
    </form>
  
    <form id="summer-time" action="/switchSummerTimeConfig" method="post">
      <fieldset>
        <legend>Daylight Saving Time (Summer Time)</legend>
        <div>
          <label for="timezone">Enter Timezone:</label>
          <input type="text" name="timezone">
        </div>
        <div>
          <label for="start-week-number">Enter the starting week number: </label>
          <input type="number" name="start_week_number" min=1 max=4>
        </div>
        <div>
          <label for="start-day">Enter the starting day:</label>
          <input type="text" name="start_day">
        </div>
        <div>
          <label for="start-month">Enter the starting month:</label>
          <select name="start_month">
            <option value="January">January</option>
            <option value="February">February</option>
            <option value="March">March</option>
            <option value="April">April</option>
            <option value="May">May</option>
            <option value="June">June</option>
            <option value="July">July</option>
            <option value="August">August</option>
            <option value="September">September</option>
            <option value="October">October</option>
            <option value="November">November</option>
            <option value="December">December</option>
          </select>
        </div>
        <div>
          <label for="start-time">Starting Time: </label>
          <input type="number" name="start_hour" min=1 max=23> :
          <input type="number" name="start_minute" min=1 max=59>
        </div>
  
  
        <div>
          <label for="end-week-number">Enter the ending week number: </label>
          <input type="number" name="end_week_number" min=1 max=4>
        </div>
        <div>
          <label for="end-day">Enter the ending day:</label>
          <input type="text" name="end_day">
        </div>
        <div>
          <label for="start-month">Enter the ending month:</label>
          <select name="end_month">
            <option value="January">January</option>
            <option value="February">February</option>
            <option value="March">March</option>
            <option value="April">April</option>
            <option value="May">May</option>
            <option value="June">June</option>
            <option value="July">July</option>
            <option value="August">August</option>
            <option value="September">September</option>
            <option value="October">October</option>
            <option value="November">November</option>
            <option value="December">December</option>
          </select>
        </div>
        <div>
          <label for="end-time">Ending Time: </label>
          <input type="number" name="end_hour" min=1 max=23> :
          <input type="number" name="end_minute" min=1 max=59>
        </div>
        <div>
          <label for="offset-time">Offset Time in Seconds</label>
          <input type="number" name="offset" min=1 max=1440>
        </div>
      </fieldset>
    </form>
    
    <form id="add-ntp-server" action="/switchAddNtpServer" method="post">
      <fieldset>
        <legend>Add NTP Server</legend>
        <div>
          <label for="add_server_ntp">Enter IP of NTP Server: </label>
          <input type="text" name="add_server_ntp">
        </div>
        <div><input type="submit" value="Add Server"></div>
      </fieldset>
    </form>
    
    <form id="ntp-source-loopback" action="/switchNtpSourceLoopbackConfig" method="post">
      <fieldset>
        <legend>Add NTP Source Loopback</legend>
        <div>
          <label for="loopback_int">Enter Loopback Interface: </label>
          <select name="loopback_int">
            <option value="" disabled selected hidden>Please choose Interface</option>
            {% for interface in deviceInterfaces %}
            {% if interface.startswith("Loopback") %}
                <option value="{{ interface }}">{{ interface }}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
        <div><input type="submit" value="Add Loopback"></div>
      </fieldset>
    </form>
    
    <form id="ntp-master" action="/switchNtpMasterConfig" method="post">
      <fieldset>
        <legend>NTP Master</legend>
        <div>
          <input type="submit" value="NTP Master" id="">
        </div>
      </fieldset>
    </form>
  </div>

{% endblock %}
{% block additionaljs %}
<script type="text/javascript" src="{{ url_for('static', filename='javascript/switch_op.js') }}"> </script>
{% endblock %}